<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cat Cam</title>
    <link rel="shortcut icon" href="/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/master.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Cat Cam <i class="fa fa-paw" aria-hidden="true"></i></h1>
            </div>

            <div align="center">
                <button class="btn btn-default filter-button all" data-filter="all">All</button>
                <button class="btn btn-default filter-button today" data-filter="new">New</button>
                <button class="btn btn-default filter-button past" data-filter="older">Older</button>
            </div>
            <br/> {{{body}}}
        </div>
    </div>
    <script src="/js/jquery-3.1.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/master.js"></script>
</body>

</html>
